body {
    overflow: hidden;
    background: #000000;
}

p {
    color: ivory;
}

H2 {
    color: ivory;
}

H3 {
    color: ivory;
}

#svg {
    position: fixed;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background: url('../images/gridtile.png');
}

.node-container {
    cursor: move;
}

.node-background {
    fill: #1a1c1d;
}

.node-header {
    fill: #fffff0;
}

.node-header .header-title {
    font-size: 20px;
    fill: #000000;
    text-anchor: middle;
}

.node-content {
    fill: #3C3C3C;
}

.port {
    cursor: pointer;
}

.port-scrim {
    fill: transparent;
}

.port-outer {
    fill: #ffffff;
}

.port-inner {
    fill: #202020;
}

.port-label {
    font-size: 12px;
    fill: #fff;
}

.input-field .port-label {
    text-anchor: start;
}

.output-field .port-label {
    text-anchor: end;
}

.connector-handle {
    fill: #00ff00;
}

.connector-path {
    stroke: #00ff00;
    stroke-width: 4;
    fill: none;
}

.connector-path-outline {
    stroke: #333;
    stroke-width: 6;
    fill: none;
}
